/* line 3, ../compass/sass/style.scss */
.shadow {
  -moz-box-shadow: #000 5px 5px 5px;
  -webkit-box-shadow: #000 5px 5px 5px;
  box-shadow: #000 5px 5px 5px;
}

/* line 7, ../compass/sass/style.scss */
body {
  background-color: red;
}
